body, h1, h2 {
    margin: 10px;
    padding: 3px;
}
 p, ul, li {
    margin: 0px;
    padding: 0px;
}

/* Style the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Style the header */
header {
    background-image: url("https://th.bing.com/th/id/OIP.QfwuqKTfXayL5gQE30DOjQHaE8?pid=ImgDet&rs=1");
    background-repeat: no-repeat;
    background-size:100% 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    spacing: 20px;

}

/* Style the college logo */
.logo img {
    max-width: 100px; /* Adjust the size as needed */
    height: auto;
    padding:20px;
}

/* Style the title */
.title h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

/* Style the center logo */
.center-logo img {
    max-width: 100px; /* Adjust the size as needed */
    height: auto;
    padding:20px;
}
nav div {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #dabfc3;
align-items: self
    padding: 10px;
}
.dropdown {
  display: flex;
  align-items: self;
}
      

nav div.div {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


/* Style the dropdown button */
.dropdown .dropbtn {
    background-color: #ca5065;
    color: #fff;
    border: 10px;
    cursor: pointer;
    padding: 8px 20px;
    spacing: 8px 20px;
    border-radius: 15px;
}

/* Style the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change the dropdown link color on hover */
.dropdown-content a:hover {
    background-color: #e7e1e6;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the footer */

footer {
    text-align: left;
    background-color: #6a7d78;
    color: #fff;
    padding: 10px;
}
